In [23]:
import findspark
findspark.init()

In [24]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql import functions as F
pyspark.__file__

'C:\\tools\\spark-3.0.3-bin-hadoop3.2\\python\\pyspark\\__init__.py'

In [25]:
spark = SparkSession.builder.master("local[*]").appName("test").getOrCreate()

In [26]:
spark.sparkContext.uiWebUrl

'http://DESKTOP-GLKIGTM.mshome.net:4041'

In [27]:
df_green = spark.read.parquet('data/pq/green/*/*')
df_yellow = spark.read.parquet('data/pq/yellow/*/*')

In [28]:
df_green.printSchema()

root
 |-- VendorID: integer (nullable = true)
 |-- lpep_pickup_datetime: timestamp (nullable = true)
 |-- lpep_dropoff_datetime: timestamp (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- RatecodeID: integer (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- passenger_count: integer (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- ehail_fee: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- payment_type: integer (nullable = true)
 |-- trip_type: integer (nullable = true)
 |-- congestion_surcharge: double (nullable = true)

In [29]:
df_yellow.printSchema()

root
 |-- VendorID: integer (nullable = true)
 |-- tpep_pickup_datetime: timestamp (nullable = true)
 |-- tpep_dropoff_datetime: timestamp (nullable = true)
 |-- passenger_count: integer (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- RatecodeID: integer (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- payment_type: integer (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- congestion_surcharge: double (nullable = true)

In [30]:
df_green = df_green.withColumnRenamed('lpep_pickup_datetime', 'pickup_datetime').withColumnRenamed('lpep_dropoff_datetime', 'dropoff_datetime')

df_yellow = df_yellow.withColumnRenamed('tpep_dropoff_datetime', 'dropoff_datetime').withColumnRenamed('tpep_pickup_datetime', 'pickup_datetime')

In [31]:
col_green = set(df_green.columns)
col_yellow = set(df_yellow.columns)

col_green.intersection(col_yellow)

{'DOLocationID',
 'PULocationID',
 'RatecodeID',
 'VendorID',
 'congestion_surcharge',
 'dropoff_datetime',
 'extra',
 'fare_amount',
 'improvement_surcharge',
 'mta_tax',
 'passenger_count',
 'payment_type',
 'pickup_datetime',
 'store_and_fwd_flag',
 'tip_amount',
 'tolls_amount',
 'total_amount',
 'trip_distance'}

In [32]:
common_col = []
for col in df_green.columns:
    if col in col_yellow:
        common_col.append(col)
    
common_col

['VendorID',
 'pickup_datetime',
 'dropoff_datetime',
 'store_and_fwd_flag',
 'RatecodeID',
 'PULocationID',
 'DOLocationID',
 'passenger_count',
 'trip_distance',
 'fare_amount',
 'extra',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'improvement_surcharge',
 'total_amount',
 'payment_type',
 'congestion_surcharge']

In [33]:
df_green_sel = df_green.select(common_col).withColumn('service_type', F.lit('green'))
df_yellow_sel = df_yellow.select(common_col).withColumn('service_type', F.lit('yellow'))

In [34]:
df_trips_data = df_green_sel.unionAll(df_yellow_sel)

In [35]:
df_trips_data.groupBy('service_type').count().show()

+------------+--------+
|service_type|   count|
+------------+--------+
|       green| 2304517|
|      yellow|39649199|
+------------+--------+

In [36]:
df_trips_data.registerTempTable('trips_data')

In [37]:
spark.sql("""
SELECT service_type, count(1) 
FROM trips_data 
GROUP BY service_type
LIMIT 10;      
""").show()

+------------+--------+
|service_type|count(1)|
+------------+--------+
|       green| 2304517|
|      yellow|39649199|
+------------+--------+

In [38]:
df_result = spark.sql("""
SELECT 
    -- Reveneue grouping 
    PULocationID AS revenue_zone,
    date_trunc('month', pickup_datetime) AS revenue_month, 
    service_type, 

    -- Revenue calculation 
    SUM(fare_amount) AS revenue_monthly_fare,
    SUM(extra) AS revenue_monthly_extra,
    SUM(mta_tax) AS revenue_monthly_mta_tax,
    SUM(tip_amount) AS revenue_monthly_tip_amount,
    SUM(tolls_amount) AS revenue_monthly_tolls_amount,
    SUM(improvement_surcharge) AS revenue_monthly_improvement_surcharge,
    SUM(total_amount) AS revenue_monthly_total_amount,
    SUM(congestion_surcharge) AS revenue_monthly_congestion_surcharge,

    -- Additional calculations
    AVG(passenger_count) AS avg_montly_passenger_count,
    AVG(trip_distance) AS avg_montly_trip_distance

FROM 
    trips_data
GROUP BY 
    revenue_zone, revenue_month, service_type
""")

In [39]:
df_result.show()

+------------+-------------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+------------------------------------+--------------------------+------------------------+
|revenue_zone|      revenue_month|service_type|revenue_monthly_fare|revenue_monthly_extra|revenue_monthly_mta_tax|revenue_monthly_tip_amount|revenue_monthly_tolls_amount|revenue_monthly_improvement_surcharge|revenue_monthly_total_amount|revenue_monthly_congestion_surcharge|avg_montly_passenger_count|avg_montly_trip_distance|
+------------+-------------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+------------------------------------+--------------------------+------------------------+
|         127|2020-02-01 00:00:00|       green|            21571.68|               890.75|                  495.0|        1050.5199999999998|          488.80000000000024|                   345.00000000000165|          25119.149999999878|                               264.0|        1.1945837512537614|       4.583894472361809|
|           9|2020-02-01 00:00:00|       green|   7251.639999999996|               643.25|                   25.0|         7.720000000000001|          183.20000000000002|                    77.99999999999997|           8193.510000000002|                                2.75|        1.1219512195121952|      445.80187969924816|
|           6|2020-02-01 00:00:00|       green|                46.5|                  0.0|                    0.5|                       0.0|                       18.36|                                  0.3|                       68.41|                                2.75|                       1.0|                   16.94|
|          18|2020-03-01 00:00:00|       green|   9502.129999999997|                 69.5|                  100.0|                     78.06|           414.1400000000002|                   136.19999999999942|          10401.980000000016|                                 5.5|        1.1727272727272726|       5.481708860759494|
|         115|2020-10-01 00:00:00|       green|               641.0|                  3.0|                    4.5|                     37.87|                      140.76|                    4.499999999999999|           834.3799999999998|                                 0.0|        1.5555555555555556|                  12.714|
|         125|2020-10-01 00:00:00|       green|               87.57|                  0.0|                    0.0|                       5.5|                         0.0|                                  0.6|                       93.67|                                null|                      null|                    6.42|
|          65|2020-11-01 00:00:00|       green|   22636.97000000004|                495.0|                  635.5|         2793.939999999999|          101.71000000000002|                    444.3000000000111|          27289.819999999658|                               239.0|         1.206734534064213|      3.2088559892328354|
|         223|2021-05-01 00:00:00|       green|   5070.829999999997|                343.7|                   55.0|                    331.89|          209.60000000000002|                    76.19999999999985|           6139.470000000005|                               35.75|        1.1217391304347826|      19.433622047244082|
|         133|2021-05-01 00:00:00|       green|  3826.0599999999986|                314.5|                   12.0|         7.880000000000001|           85.14999999999998|                   40.200000000000045|                     4287.74|                                 0.0|        1.5416666666666667|                    6.22|
|          95|2020-09-01 00:00:00|       green|   39805.12000000002|               719.75|                 1015.0|         4491.899999999999|           720.4900000000002|                    761.4000000000117|           47747.40999999967|                              239.25|        1.1981852913085005|      16.418987587276956|
|         174|2020-09-01 00:00:00|       green|  12869.790000000005|                 14.0|                   43.0|                   1256.91|           496.1800000000002|                   149.69999999999965|          14839.780000000017|                                2.75|        1.1829268292682926|      118.68130260521045|
|         265|2020-09-01 00:00:00|       green|             5645.54|                 15.5|                   31.5|                    311.77|                      202.79|                   36.300000000000026|           6247.300000000002|                                 0.0|        1.2533333333333334|      10.596260162601626|
|          74|2021-08-01 00:00:00|       green|                36.0|                  1.0|                    1.0|                      4.86|                         0.0|                                  0.6|                       43.46|                                 0.0|                       1.0|                   4.475|
|          79|2021-03-01 00:00:00|       green|              386.75|                 38.5|                    0.0|                       0.0|                        30.6|                                  4.5|                      460.35|                                null|                      null|       6.479333333333333|
|           9|2021-03-01 00:00:00|       green|             2197.88|                229.6|                    1.5|                      5.06|                       12.24|                   24.600000000000016|                     2470.88|                                 0.0|                       1.4|       5.358780487804876|
|          83|2021-03-01 00:00:00|       green|             2956.29|               218.75|                   38.5|                    191.99|                       24.48|                    49.50000000000007|          3493.2600000000007|                               13.75|        1.3218390804597702|      3.3514201183431944|
|         178|2021-03-01 00:00:00|       green|              816.49|                 93.5|                    1.0|                       0.0|                       32.89|                   10.199999999999998|           954.0800000000002|                                 0.0|                       1.0|                    4.68|
|          94|2020-12-01 00:00:00|       green|   4086.470000000001|                  6.0|                   16.0|                     374.0|                       68.83|                    48.00000000000007|           4602.049999999999|                                 0.0|        1.1944444444444444|       5.336312500000001|
|          69|2020-12-01 00:00:00|       green|  12520.730000000003|                 29.0|                   54.5|        1013.8900000000001|           397.3100000000002|                    147.8999999999993|          14168.830000000024|                                2.75|        1.4655172413793103|       5.262520161290323|
|          27|2020-12-01 00:00:00|       green|               53.71|                  0.0|                    0.0|                      5.86|                        4.58|                                  0.3|                       64.45|                                null|                      null|                   13.63|
+------------+-------------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+------------------------------------+--------------------------+------------------------+
only showing top 20 rows

In [40]:
df_result.coalesce(1).write.parquet('data/report/revenue/trips_data/', mode='overwrite')

In [ ]:
spark.stop()